@{
    ViewBag.Title = "Index";
}
@section Styles {
    <style>
        .btn{margin: 5px;}
    </style>
}
<a href="Create">افزودن خبر</a>
<div >
    <div id="window">
        <div id="grid"> </div > <script >
                                     $(document).ready(function () {
                                        $("#grid").kendoGrid({
                                            groupable: true,
                                            pageable: true,
                                            sortable: true,
                                            dataSource: {
                                                type: "json",
                                                transport: {
                                                    read: {
                                                        url: "GetNewsWithPagging"
                                                    }
                                                },
                                                pageSize: 4,
                                                serverPaging: true,
                                                serverFiltering: true,
                                                serverGrouping: true,
                                                serverAggregates: true,
                                                schema: {
                                                    data: "data",
                                                    total: "total"
                                                }
                                            },
                                            sortable: true,
                                            groupable: false,
                                            columns: [{
                        
                                                field: "Title",
                                                title: "عنوان خبر"

                                            },
                                            {
                                                field: "Content",
                                                title:"متن خبر"
                                            },
                                            {
                                                field:"ReleaseDate",
                                                title:"تاریخ خبر"
                                            },
                                            {
                                                template: "<a class='btn btn-info' href='Details/#:data.NewsID#'>نمایش</a><br/><a  class='btn btn-primary' href='Edit/#:data.NewsID#'>ویرایش</a><br/><a class='btn btn-danger' href='Delete/#:data.NewsID#'>حذف</a>",
                                                title: "ویرایش"
                                            }]

                                        });
           

                                    });
                                </script > </div > </div >
        